<div ng-controller="backCtrl">
	<h2>还款详情</h2>
	<div class="apply_record">
		<h3></h3>
		<table class="table-noline">
			<thead>
				<tr><td>标的名称</td><td>期数</td><td>本期还款日</td><td>本期应还本息（元）</td><td>利息（元）</td><td>还款状态</td><td>操作</td></tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data">
					
					<td ng-bind="item.remark"></td>
					<td ng-bind="item.apply"></td>
					<td ng-bind="item.apply"></td>
					<td ng-bind="item.apply1"></td>
					<td ng-bind="item.time"></td>
					<td>
						<span ng-if="item.status==0">待还款</span>
						<span ng-if="item.status==1">已还款</span>
					</td>
					<td><a herf="javascript:;">还款</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="page">
		<div paging
		class="small"
		page="page" 
		page-size="3" 
		total="total"
		adjacent="2"
		dots="..."
		scroll-top="false" 
		hide-if-empty="true"
		ul-class="pagination"
		active-class="active"
		disabled-class="disabled"
		show-prev-next="true"
		paging-action="pageSerch(2)">
		</div>
	</div>
</div>