<div ng-controller="paymentCtrl" class="payment ">
	<h2>回款计划</h2>
	<div class="apply_record">
		<div class="tabs2">
			<div class="tab2-nav">
				<a href="" ng-class="{active:(tab.cont1)}" ng-click="tabSearch(1)">待回款</a>
				<a href="" ng-class="{active:tab.cont2}" ng-click="tabSearch(2)">已回款</a>
			</div>
			<div>
				<!-- 投资中 -->
				<div class="tabs-cont" ng-class="{active:tab.cont1}">
					<table class="table-noline">
						<thead>
							<tr><td>标的名称</td><td>年化收益</td><td>投资金额（元）</td><td>计息起始日</td><td>预计本期回款日</td><td>预计回收本金</td><td>预计赚取收益</td><td>期数</td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in data">
								<td ng-bind="item.time"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.applyuse"></td>
								<td>
									<span ng-if="item.status==0">不通过</span>
									<span ng-if="item.status==1">通过</span>
								</td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- 已结算 -->
				<div class="tabs-cont" ng-class="{active:tab.cont2}">
					<table class="table-noline">
						<thead>
							<tr><td>标的名称</td><td>年化收益</td><td>投资金额（元）</td><td>计息起始日</td><td>预计本期回款日</td><td>预计回收本金</td><td>预计赚取收益</td><td>期数</td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in data">
								<td ng-bind="item.time"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.applyuse"></td>
								<td>
									<span ng-if="item.status==0">不通过</span>
									<span ng-if="item.status==1">通过</span>
								</td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
								<td ng-bind="item.apply"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
	<div id="page">
		<div paging
		class="small"
		page="page" 
		page-size="pageSize" 
		total="total"
		adjacent="2"
		dots="..."
		scroll-top="false" 
		hide-if-empty="true"
		ul-class="pagination"
		active-class="active"
		disabled-class="disabled"
		show-prev-next="true"
		paging-action="pageSearch(page)">
		</div>
	</div>
</div>