.onlineService{position: fixed;right: 50px;bottom: 60px;z-index:10;width: 38px;font-size: 0;line-height: 0;}
.onlineService li{height: 34px;padding: 2px 0;border: 1px solid #ebebeb;background-color: #fff;text-align: center;cursor:pointer;}
.onlineService li:hover{background-color: #fff;}
.onlineService li em{width: 100%; height: 100%; display: block;overflow: hidden;color: #b3b3b3;font-size: 25px;line-height: 34px;}
.onlineService li a{ display: none; color: #9c9c9c;font-size: 12px;line-height: 17px;}
.onlineService li a:hover{text-decoration: none;}
.onlineService li.backTop{background: none;border:none;}
.onlineService li.hide{
	display: none;	
}
.onlineService li.backTop em{
	background: url('/resources/images/arrow_top.png') center center no-repeat;
}
.onlineService li.qqLink em{
	background: url('/resources/images/qq_icon.jpg') center center no-repeat;
}
.onlineService li.wxLink em{
	background: url('/resources/images/code_icon.jpg') center center no-repeat;
}
.onlineService li.qqLink:hover a{display: inline-block;}
.onlineService li.qqLink:hover em{display: none;}
.onlineService li.wxLink{border-top:none;}
.onlineService li.wxLink:hover em{color: #70bc31;}
.onlineService li.wxLink:hover a{display: block;position: absolute;right: 47px;bottom: 0px;width: 198px;height: 198px;border: 1px solid #ebebeb;border-radius: 5px 5px 0 5px;background-color: #fff;}
.onlineService li.wxLink:hover a img{display: inline-block;width: 160px;height: 160px;margin-top: 10px;}
.onlineService li.wxLink:hover a i{position: absolute;right: -11px;bottom: -1px;display: inline-block;width: 10px;height: 38px;border: solid #ebebeb;border-width: 1px 0;border-left: 1px solid #fff;background-color: #fff;}